/* BODY {
    background-color: red;
    } */

.test {
    color: red;
}

.side2 {
    display: flex;
}


.job-title-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 30px;
    row-gap: 40px;
    justify-items: center;
}

/* .content-button{
    width: 599px;
} */

.col{
    gap: 10px;
    display: flex;
    width: 400px;
    flex-direction: column;
}

.col-cert{
    gap: 10px;
    display: flex;
    width: 400px;
    height: 150px;
    flex-direction: column;
    border: 1px solid;
    justify-content: center;
    border-radius: 25px; 
}

.col-training{
    margin-top: 50px;
    padding-top: 20px;
    gap: 10px;
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    border: 1px solid;
    justify-content: flex-start;
    border-radius: 25px;
}

.table-form {
    margin: 10px;
    gap: 10px;
}


.training-box-title{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}


.training-box-places{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* 
.img-box{
    height: 580px;
    width: 580px;
} */