{% extends 'myapp/base.html' %}

{% block content %}
<h1>Поиск профиля пользователя</h1>

<form method="post">
    {% csrf_token %}
    <p>Name:<br> <input name="name" /></p>
    <input type="submit", name="profile" value="profile" />
    <input type="submit", name="password" value="password" />

</form>

<hr>


{% endblock %}

<!-- <label for="username">ID пользователя: </label>
<input id="username" type="text">
<input type="submit" value="OK"> -->

<!-- <input id="username" type="text" name="username" value="{{ current_name }}"> -->






<!-- <h1>Поиск профиля пользователя</h1>

<form action="" method="post", action="users:profile/">
    {% csrf_token %}
    <p>Name:<br> <input name="name" /></p>
    <input type="submit" value="Поиск" />
    
</form>

<hr> -->