{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->
{% load embed_video_tags %}

{% block content %}

<h1 class="page-name"> {{ cources.title }}</h1>


<div class="page-area">
    <div class="left-sidebar">
        <!-- <ul> -->
            {% for part in parts %}
                {% if cources.program_name == part.program_name and part.is_published %}
                    <div class="list-content">
                        <h5>
                            <a class="list-group-item" href="{% url 'study' part.slug %}">{{ part.chapter_name }}</a>
                        </h5>
                    {% for edu_results in edu_results_list %}
                        {% if edu_results.title == part.slug and edu_results.username == request.user.username%}
                            <h5 class="status-done">Изучено</h5>
                        {% endif %}
                    {% endfor %}
            </div>
                {% endif %}
            {% endfor %}
        <!-- </ul> -->
    </div>
    <div class="container">
        <div >
            
            {% for content in contents %}
            {% if content.chapter_name == cources.chapter_name and content.is_published %}

            {% if content.content_type == 'presentation' %}
            <h2>Презентация по теме: {{ content.chapter_name }}</h2>

            <iframe src="{{ content.file.url }} #toolbar=0" height="800" width="750" frameborder="0"></iframe>
            <hr>
            {% endif %}
            
            {% if content.content_type == 'video' %}
            <h2>Видео по теме: {{ content.chapter_name }}</h2>
            <div class="video-on-page">
                <!-- {% video content.video 'tiny' %} -->
                <iframe width="720" height="405" src="{{ content.video }}" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <br>
           
                {% endif %}
                {% endif %}
                {% endfor %}

        </div>
    </div>
</div>


{% endblock content %}


<!-- <div class="mt-5 px-5">

    {% for i in videos %}
    {% video i.video 'small' %}
    {% endfor %}
</div> -->