{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->
{% load embed_video_tags %}

{% block content %}

<h1 class="page-name"> {{ cources.title }}</h1>


<div class="page-area">
    <div class="left-sidebar">
        <ul>
            {% for part in parts %}
                {% if part.program_name == cources.program_name and part.is_published %}
                    <div class="list-content">
                        <h5>
                            <li><a class="list-group-item" href="{% url 'study' part.slug %}">{{ part.chapter_name }}</a></li>
                        </h5>
                        {% for edu_results in edu_results_list %}
                            {% if edu_results.title == part.slug and edu_results.username == request.user.username%}
                            <h5 class="status-done">Изучено</h5>    
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="page-row">
            <p>
                {{ cources.description}}
            </p>

        </div>
    </div>
</div>


{% endblock content %}


<!-- <div class="mt-5 px-5">

    {% for i in videos %}
    {% video i.video 'small' %}
    {% endfor %}
</div> -->


<!-- <ul class="list-group list-group-flush"> -->