{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->

{% block content %}

<h1 class="test"> {{ cources.title }}</h1>
<div class="container-content">
    <div class="row">
        {% for part in parts %}
        {% if part.edu_area_name == cources.edu_area_name and part.is_published %}
        <div class="col">
            <div class="img-box">
                <img class="img" src="{{ part.image.url }}" class="img-thumbnail" alt="{{ part.title }}">
            </div>
            <div class="description-box">

                <p class="area-description">{{ part.description }}</p>
            </div>
            <a href="{{ part.get_absolute_url }}">
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button class="btn btn-primary" type="button">{{ part.program_name }}</button>
                </div>
            </a>
        </div>
            {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock content %}




<!-- {% if cource.job_title == 'technicians' and cource.is_published %}
{% endif %} -->