<!-- {% extends 'myapp/base.html' %}
<!-- {% load static %}   -->
<!-- 
{% block content %}

<h1 class="test">Это сайт Академии Тойота предназначенный для самостоятельного изучения учебных материало и записи на тренинги</h1>

<div class="container">
    <div class="row">
        {% for section in sections %}
        <div class="col">
            <div class="img-box">
                <img src="{{ section.image }}" class="img-thumbnail" alt="{{ section.title }}">
            </div>
            <p>{{ section.description }}</p>
            <a href="http://127.0.0.1:8000/cats/technicians/techcont">
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button class="btn btn-primary" type="button">{{ section.button_name }}</button>
                </div>
            </a>
        </div>
            {%  endfor %}
    </div>
</div>

{% endblock content %} --> -->