{% extends 'myapp/base.html' %}
{% load static %}  
<!-- зачем сюда это добавил строку выше не понятно, зато работает -->

{% block content %}
<img src="{% static 'myapp/image/sample.jpg' %}" alt="My image"/>
<div class="main-posts">
  <div class="container">
    <div class="row">
      <div class="blog-masonry masonry-true">
        {% for video in video_list %}
          <div class="post-masonry col-md-4 col-sm-6">
            <div class="post-thumb">
                <img src="../../../image/sample.jpg" alt="">
              <!-- <img src="{{ video.image.url }}" alt=""> -->
              <!-- <img src="{{ video.image.sample }}" alt=""> -->
              <div class="title-over">
                <h4>{{ video.title }}</h4>
              </div>
              <div class="post-hover text-center">
                <div class="inside">
                  <i class="fa fa-plus"></i>
                  <span class="date">{{ video.create_at }}</span>
                  <h4><a href="{% url 'video' video.id %}">{{ video.title }}</a></h4>
                  <p>{{ video.description|slice:":100" }}</p>
                </div>
              </div>
            </div>
          </div> <!-- /.post-masonry -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}