{% extends 'myapp/base.html' %}
<!-- {% load embed_video_tags %} -->
<!-- {% load static %}   -->

{% block content %}


<h1 class="test">Это сайт Академии Тойота предназначенный для самостоятельного изучения учебных материалов, записи на тренинги и сертификацию</h1>
<div>
    <hr>
    <img class="main-img" src="../../../media/images/Toyota-Service-Photo-Lift.jpg" alt="">
</div>
    <hr>
    <div class="content-area-title">
        <h1 class="test"> Разделы сайта </h1>
        
    </div>

<div class="container-content">
    <div class="row">
        {% for section in sections %}
        {% if section.is_published %}
        <div class="col">
            <div class="img-box">
                <img class="img" src="{{ section.image.url }}" class="img-thumbnail" alt="{{ section.section_name }}">
            </div>
            <div class="description-box">
                <p class="area-description">{{ section.description }}</p>

            </div>
            <a href="{% url 'section' section.slug %}">
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button class="btn btn-primary" type="button">{{ section.button_name }}</button>
                </div>
            </a>
        </div>
        {% endif %}
            {%  endfor %}
    </div>
    <hr>
</div>

{% endblock content %}




