<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">Академия Тойота</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Разделы
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Технический персонал</a></li>
              <li><a class="dropdown-item" href="#">Нетехнически персонал</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Запись на тренинги</a></li>
              <li><a class="dropdown-item" href="#">Запись на сертификацию</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Подписка</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Полезная информация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Новости</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-link">
            {{request.user}} |
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href='{% url "users:logout" %}'>Выйти</a>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">ВОЙТИ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "users:register" %}'>Регистрация</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form> -->
      </div>
    </div>
  </nav>