{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->

{% block content %}
<h1>Тестирование</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in quiz %}
    <h3 class="quize-question-block">
        {{ f.question }}
    </h3>
 
    {% if f.image %}

    <div class="img-box-quiz">
        <img class="img"  src="../../../media/{{ f.image }}" class="img-thumbnail" alt="Тут должно быть фото вопроса">
    </div>

    {% endif %}
    <div class="quize-answer-block">

        <input type="checkbox" name="{{f.question}}" value="{{ f.op1 }}"> {{ f.op1 }}<br>
        <input type="checkbox" name="{{f.question}}" value="{{ f.op2 }}"> {{ f.op2 }}<br>
        <input type="checkbox" name="{{f.question}}" value="{{ f.op3 }}"> {{ f.op3 }}<br>
        <input type="checkbox" name="{{f.question}}" value="{{ f.op4 }}"> {{ f.op4 }}<br>

    </div>
    <!-- <input type="checkbox" name="{{ f.op1 }}"> -->


    <hr>
    {% endfor %}
    {% for i in answer_list %}
    {{ i }}
    {% endfor %}

    {% for i in quiz_result %}
    {{ i }}
    {% endfor %}


    {% if ttl_count > 0 %}
        <p>Всего вопросов: {{ ttl_count }}</p>
        <p>Правильных ответов: {{ right_count }}</p>
        <br>
        <p>Ваш результат: {{ final_score }} %</p>
    {% endif %}


    <p><button type="submit">Отправить результат</button></p>
</form>




{% endblock %}