{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->

{% block content %}

<h1 class="test"> стартовая страница тестирования </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus libero dolor mollitia tenetur sapiente nihil sint esse, rerum perspiciatis delectus, ullam ex, quidem ad rem voluptate et quibusdam eos enim.</p>

<a href="#">
    <div class="d-grid gap-2 col-11 mx-auto">
        <button class="btn btn-primary" type="button">#</button>
    </div>
</a>


{% endblock content %}