{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->

{% block content %}

<h1 class="test">Обучение для механиков</h1>
<div class="container">
    <div class="row">
        {% for cource in cources %}
        <div class="col">
            <div class="img-box">
                <img src="{{ cource.image }}" class="img-thumbnail" alt="{{ cource.title }}">
            </div>
            <p>{{ cource.description }}</p>
            <a href="http://127.0.0.1:8000/technicians">
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button class="btn btn-primary" type="button">{{ cource.button_name }}</button>
                </div>
            </a>
        </div>
            {%  endfor %}
    </div>
</div>

{% endblock content %}