{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->

{% block content %}

<h1 class="test">Вы находитесь в разделе "{{ slug_area.button_name }}"</h1>

<div class="container-content">
    <div class="row">
        {% if slug_area.slug == 'technical' or slug_area.slug == 'non_technical' %}      

        {% for cource in cources %}
        {% if cource.area == slug_area.slug and cource.is_published %}
        <div class="col">
            <div class="img-box">
                <img class="img"  src="{{ cource.image.url }}" class="img-thumbnail" alt="{{ cource.edu_programs_name }}">
            </div>
            <div class="description-box">
                <p class="area-description">{{ cource.description }}</p>

            </div>
            <a href="{{ cource.get_absolute_url }}">
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button class="btn btn-primary" type="button">{{ cource.button_name }}</button>
                </div>
            </a>
        </div>
            {% endif %}
            {% endfor %}
        {% elif slug_area.slug == 'certification_appointment' %}
        {% for certification in certifications %}
            {% if certification.is_published and certification.is_available %}     
            <div class="col-cert">
                <div class="job-title-text">
                    <h4>
                        {{ certification.job_title }}

                    </h4>
                </div>
                <div class="but-cert-app">
                    <a href="{% url 'cert_appointment' certification.id %}">
                        <div class="d-grid gap-2 col-11 mx-auto">
                            <button class="btn btn-primary" type="button">{{ certification.certification_date }} {{ certification.certification_time }}</button>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}


        {% elif slug_area.slug == 'online_certification' %}
            {% for online_certification in online_certifications %}
                {% for edu_result in edu_results %}
                        {% if online_certification.is_published and edu_result.title == online_certification.cert_requirements %}    

                        <div class="col">
                            <div class="job-title-text">
                                <h4>
                                    {{ online_certification.title }}


                                </h4>
                            </div>
                            <div class="but-cert-app">
                                <a href="{% url 'quiz' online_certification.title %}">
                                    <div class="d-grid gap-2 col-11 mx-auto">
                                        <button class="btn btn-primary" type="button">Начать тест</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                {% endfor %}    
            {% endfor %}











        {% elif slug_area.slug == 'training_appointment' %}
        {% for training in trainings %}
            {% if training.is_published and training.is_available%}     
            <div class="col-training">
                <div class="job-title-text">
                    <h4>
                        {{ training.training_name }}
                    </h4>
                    <p> {{ training.training_start_date }} - {{ training.training_end_date }} </p>
                </div>
                
                <div class="but-cert-app">
                    <a href="{% url 'training_appointment' training.id %}">
                        <div class="d-grid gap-2 col-11 mx-auto">
                            <button class="btn btn-primary" type="button">Записаться</button>
                        </div>
                    </a>
                </div>

                <div>
                    <h4>
                        <div class="training-box-title">
                            <div class="number-participants">
                                <p>Всего мест</p>
                                <h1>{{ training.max_participants }}</h1>
                            </div>
                            <div class="number-participants">
                                <p>Записано</p>
                                {% for participant in participants %}
                                    {% if training.training_id == participant.training_id %} 
                                        <div>
                                            <h1>{{ participant.the_count }}</h1>
                                        </div>
                                    {% endif %}     
                                {% endfor %}
                            </div>

                        </div>
                    </h4>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% endif %}
    </div>
</div>

{% endblock content %}

