{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->
{% load embed_video_tags %}

{% block content %}

<h1 class="page-name"> {{ cources.title }}</h1>


<div class="page-area">
    <div class="left-sidebar">
        <ul class="list-group list-group-flush">
            {% for part in parts %}
            {% if cources.chapter == part.chapter and part.is_published %}

            <li><a class="list-group-item" href="{% url 'study' part.slug %}">{{ part.title }}</a></li>
            {% for edu_results in edu_results_list %}
            {% if edu_results.title == part.slug and edu_results.username == request.user.username%}
                <p>Изучено</p>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="page-row">
            
            {% for t in temp %}
            {% if t.content_type == 'video' %}
            <div class="video-on-page">
                {% video t.video 'tiny' %}
            </div>
            {% endif %}
            {% if t.content_type == 'presentation' %}
            <!-- <p>{{ content.file.url }}</p> -->

            <iframe src="{{ t.file.url }} #toolbar=0" height="1000" width="1500" frameborder="0"></iframe>
                {% else %}
                <p>
                    {{ t.title }}
                </p>
                {% endif %}


            {% endfor %}

        </div>
        <script></script>
    </div>









{% endblock content %}





<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>fdgdfgdfgdfg</p>

    <embed src="../../../media/files/test.pdf" height="1000" width="1500">
</body>
</html> -->