{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->
{% load embed_video_tags %}

{% block content %}

<h1 class="test"> {{ cources.title }}</h1>

<div class="container">
    <div class="row">
        {% for part in parts %}
        {% if part.chapter == cources.title and part.is_published %}
        {% if part.content_type == 'video' %}
        {% video part.video 'small' %}
        {% else %}
        <div class="col">
            <div class="img-box">
                <img src="{{ part.image.url }}" class="img-thumbnail" alt="{{ part.title }}">
            </div>
            <p>{{ part.description }}</p>
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button class="btn btn-primary" type="button">{{ part.title }}</button>
                </div>
            </a>
        </div>
            {% endif %}
            {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock content %}


<!-- <div class="mt-5 px-5">

    {% for i in videos %}
    {% video i.video 'small' %}
    {% endfor %}
</div> -->







{% extends 'myapp/base.html' %}
<!-- {% load static %}   -->
{% load embed_video_tags %}

{% block content %}

<h1 class="page-name"> {{ cources.title }}</h1>


<div class="page-area">
    <div class="left-sidebar">
        <ul class="list-group list-group-flush">
            {% for part in parts %}
            {% if part.chapter == cources.title and part.is_published %}

                <li><a class="list-group-item" href="#">{{ part.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="page-row">
            {% for part in parts %}
            {% if part.chapter == cources.title and part.is_published %}
            {% if part.content_type == 'video' %}
            
            <div class="video-on-page">
                {% video part.video 'tiny' %}

            </div>
            <br>
            {% else %}
            <div class="col">
                <div class="img-box">
                    <img src="{{ part.image.url }}" class="img-thumbnail" alt="{{ part.title }}">
                </div>
                <p>{{ part.description }}</p>
                    <div class="d-grid gap-2 col-11 mx-auto">
                        <button class="btn btn-primary" type="button">{{ part.title }}</button>
                    </div>
                </a>
            </div>
                {% endif %}
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}


<!-- <div class="mt-5 px-5">

    {% for i in videos %}
    {% video i.video 'small' %}
    {% endfor %}
</div> -->















{% elif slug_area.slug == 'training_appointment' %}
        {% for training in trainings %}
            {% if training.is_published and training.is_available%}     
            <div class="col-training">
                <div class="job-title-text">
                    <h4>
                        {{ training.training_name }}
                    </h4>
                </div>
                
                {% for participant in participants %}
                {% if training.training_id == participant.training_id and training.max_participants > participant.the_count%}
                <div class="but-cert-app">
                    <a href="{% url 'training_appointment' training.id %}">
                        <div class="d-grid gap-2 col-11 mx-auto">
                            <button class="btn btn-primary" type="button">{{ training.training_start_date }} {{ training.training_end_date }}</button>
                        </div>
                    </a>
                </div>
                {% endif %} 
                {% endfor %}
                <div>
                    <h4>
                        <div class="training-box-title">
                            <p>Записано</p>
                            <p>Всего мест</p>
                        </div>
                        {% for participant in participants %}
                        {% if training.training_id == participant.training_id %} 
                        <div class="training-box-places">
                            <h1>{{ participant.the_count }}</h1>
                            <h1>{{ training.max_participants }}</h1>
                        </div>
                        {% endif %}     
                        {% endfor %}
                    </h4>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% endif %}